body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat","Avenir";
}

h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
  transition: background .7s;
  -webkit-transition:background .7s;
  -moz-transition:background .7s;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color:steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all .3s;
  -webkit-transition:background .7s;
  -moz-transition:background .7s;
}

button:hover{
  color: white;
  background-color: steelblue;
}

#stripe{
  background: white;
  height: 30px;
  text-align: center;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

#targetColor{
  font-size:  200%;
}

#message{
  display: inline-block;
  width: 20%;
}

.selected{
  color: white;
  background-color: steelblue;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  background: purple;
  border-radius: 15%;
  transition: background .7s;
  -webkit-transition:background .7s;
  -moz-transition:background .7s;
}
